.ForumPage{
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
    gap: 1rem;
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
    .ForumPage {
        grid-template-columns: none;
    }
}